body{

  margin:0;
  font-family: "Playfair", serif;
  background: #f9f9f9;
 
}
body h1{
  font-family: "Holtwood One SC", serif;
  font-weight: 500;
}
.app-container {
  max-width: 1600px;
  margin-bottom: 10px;
  padding: 20px;
  margin-left:5%;
  
}


.app-container h1 {
  text-align: left ;
  margin-bottom: 40px;
  padding-right:0%;
}


input, select, textarea {
  font-family: "Playfair", serif;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #cdc3c3;
  border-radius: 4px;
  width: auto;
}

.disabled-button {
opacity: 0.5;
  cursor: not-allowed;
}


.delete-button{

  border: 1px solid red;
  background-color: white;
  color: red;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-family: "Graduate", cursive;
  font-weight: bold;
  margin-top: 25px;

}