.property-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
    flex-direction: column;
    background-color: #fff;
    
    
   

    
}

.property-card:hover{
    box-shadow: 0 4px 8px rgba(104, 41, 70, 0.3);
   
   



  }



.property-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;


    
}
